<h1>Your closest bus station to <%= @name %> is:</h1>

<div>Latitude: <%= @closest.latitude %></div>
<div>Longitude: <%= @closest.longitude %></div>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://maps.google.com/maps/embed/v1/place?q=loc:<%= @closest.latitude %> + <%= @closest.longitude %>&key=AIzaSyB59IlSTR75bRNYFFsgcqRTij-TZhF2Ro0">
</iframe>
